@font-face {
  font-family: Lato-Bold;
  font-style: bold;
  src: url("../fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: Lato-Italic;
  font-style: italic;
  src: url("../fonts/Lato-Italic.ttf");
}
@font-face {
  font-family: Lato-Regular;
  font-style: normal;
  src: url("../fonts/Lato-Regular.ttf");
}
@media screen and (max-width: 441px) {
  .hidden-sm {
    display: none;
  }
  .hidden-xxs {
    display: none;
  }
  .hidden-xs {
    display: none;
  }
  .menu-xs {
    display: flex;
  }
  .page-nav {
    display: none;
  }
  .page-nav.open {
    top: 3rem;
    left: 0;
    width: 100vw;
  }
  .page-nav.open .page-menu {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgba(255,255,255,0.9);
  }
  .page-menu-item {
    margin-bottom: 3px;
    width: 100vw;
    color: #fff;
    display: flex;
    justify-content: center;
  }
  .page-menu-item:hover a,
  .page-menu-item:active a,
  .page-menu-item:focus a {
    color: #fff;
  }
  .page-menu-item:hover,
  .page-menu-item:active,
  .page-menu-item:focus {
    background-color: #4d4959;
  }
  .page-menu-item.hidden-xs {
    display: none;
  }
  .centered-page-wrapper p {
    font-size: 90%;
  }
  .description-part {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .icon-wrapper {
    margin-bottom: 0.2rem;
  }
  .section-heading {
    margin-bottom: 0.2rem;
    font-size: 0.7rem;
  }
  .subscribe {
    height: 300px;
  }
  .subscribe .logo-wrapper {
    margin-bottom: 1.35rem;
  }
  .subscribe-heading {
    margin-bottom: 1.35rem;
  }
  .bicycle-logo {
    width: 20%;
  }
  .center-page-info-block {
    padding: 50px 0;
  }
  .discover-btn {
    width: 50%;
  }
  .subscribe-form {
    min-width: 50%;
  }
  .email-form,
  .email-submit {
    height: 2.5rem;
  }
  .subscribe-heading {
    font-size: 80%;
  }
  .footer {
    flex-direction: column;
  }
  .address,
  .socials,
  .credits {
    align-items: center;
    justify-content: flex-start;
    margin-left: 3%;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 442px) and (max-width: 768px) {
  .hidden-sm {
    display: none;
  }
  .hidden-xxs {
    display: inline-block;
  }
  .hidden-xs {
    display: none;
  }
  .menu-xs {
    display: flex;
  }
  .page-nav {
    display: none;
  }
  .page-nav.open {
    top: 3rem;
    left: 0;
    width: 100vw;
  }
  .page-nav.open .page-menu {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgba(255,255,255,0.9);
  }
  .page-menu-item {
    margin-bottom: 3px;
    width: 100vw;
    color: #fff;
    display: flex;
    justify-content: center;
  }
  .page-menu-item:hover a,
  .page-menu-item:active a,
  .page-menu-item:focus a {
    color: #fff;
  }
  .page-menu-item:hover,
  .page-menu-item:active,
  .page-menu-item:focus {
    background-color: #4d4959;
  }
  .page-menu-item.hidden-xs {
    display: none;
  }
  .centered-page-wrapper p {
    font-size: 90%;
  }
  .description-part {
    padding: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .icon-wrapper {
    margin-bottom: 0.75rem;
  }
  .section-heading {
    margin-bottom: 0.75rem;
    font-size: 0.9rem;
  }
  .subscribe {
    height: 300px;
  }
  .subscribe .logo-wrapper {
    margin-bottom: 1.35rem;
  }
  .subscribe-heading {
    margin-bottom: 1.35rem;
  }
  .bicycle-logo {
    width: 20%;
  }
  .center-page-info-block {
    padding: 50px 0;
  }
  .discover-btn {
    width: 50%;
  }
  .subscribe-form {
    min-width: 50%;
  }
  .email-form,
  .email-submit {
    height: 2.5rem;
  }
  .subscribe-heading {
    font-size: 90%;
  }
  .footer {
    flex-direction: column;
  }
  .address,
  .socials,
  .credits {
    align-items: center;
    justify-content: flex-start;
    margin-left: 3%;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .hidden-sm {
    display: none;
  }
  .hidden-xxs {
    display: inline-block;
  }
  .hidden-xs {
    display: inline-block;
  }
  .menu-xs {
    display: none;
  }
  .page-nav {
    display: flex;
  }
  .page-nav -webkit-flex-direction row {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .page-nav.open {
    top: 0;
    width: 50%;
  }
  .page-nav.open .page-menu {
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .page-menu-item a:hover,
  .page-menu-item a:active,
  .page-menu-item a:focus {
    color: #999;
    font-weight: bolder;
  }
  .centered-page-wrapper p {
    font-size: 1.1rem;
  }
  .description-part {
    padding: 3%;
  }
  .description-part p {
    margin: 0;
    font-size: small;
  }
  .icon-wrapper {
    margin-bottom: 0.2rem;
  }
  .section-heading {
    margin-bottom: 0.2rem;
    font-size: 0.9rem;
  }
  .subscribe {
    height: 470px;
  }
  .subscribe .logo-wrapper {
    margin-bottom: 1.5rem;
  }
  .subscribe-heading {
    margin-bottom: 1.5rem;
  }
  .center-page-info-block {
    padding: 100px 0;
  }
  .discover-btn {
    width: 30%;
  }
  .subscribe-form {
    min-width: 33.33%;
  }
  .email-form,
  .email-submit {
    height: 4rem;
  }
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .address,
  .socials,
  .credits {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .hidden-sm {
    display: inline-block;
  }
  .hidden-xxs {
    display: inline-block;
  }
  .hidden-xs {
    display: inline-block;
  }
  .menu-xs {
    display: none;
  }
  .page-nav {
    display: flex;
  }
  .page-nav -webkit-flex-direction row {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .page-nav.open {
    top: 0;
    width: 50%;
  }
  .page-nav.open .page-menu {
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .page-menu-item {
    -webkit-transition: all 1.5s linear;
    -moz-transition: all 1.5s linear;
    -ms-transition: all 1.5s linear;
    -o-transition: all 1.5s linear;
    transition: all 1.5s linear;
  }
  .page-menu-item a:hover,
  .page-menu-item a:active,
  .page-menu-item a:focus {
    color: #999;
    font-weight: bolder;
  }
  .centered-page-wrapper p {
    font-size: 1.1rem;
  }
  .description-part {
    padding: 10% 15%;
  }
  .description-part p {
    margin: 0;
    font-size: small;
  }
  .icon-wrapper {
    margin-bottom: 0.2rem;
  }
  .section-heading {
    margin-bottom: 0.2rem;
    font-size: 0.9rem;
  }
  .subscribe {
    height: 470px;
  }
  .subscribe .logo-wrapper {
    margin-bottom: 1.5rem;
  }
  .subscribe-heading {
    margin-bottom: 1.5rem;
  }
  .center-page-info-block {
    padding: 100px 0;
  }
  .discover-btn {
    width: 20%;
  }
  .subscribe-form {
    min-width: 33.33%;
  }
  .email-form,
  .email-submit {
    height: 4rem;
  }
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .address,
  .socials,
  .credits {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .hidden-sm {
    display: inline-block;
  }
  .hidden-xxs {
    display: inline-block;
  }
  .hidden-xs {
    display: inline-block;
  }
  .menu-xs {
    display: none;
  }
  .page-nav {
    display: flex;
  }
  .page-nav -webkit-flex-direction row {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .page-nav.open {
    top: 0;
    width: 50%;
  }
  .page-nav.open .page-menu {
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .page-menu-item {
    -webkit-transition: all 1.5s linear;
    -moz-transition: all 1.5s linear;
    -ms-transition: all 1.5s linear;
    -o-transition: all 1.5s linear;
    transition: all 1.5s linear;
  }
  .page-menu-item a:hover,
  .page-menu-item a:active,
  .page-menu-item a:focus {
    color: #999;
    font-weight: bolder;
  }
  .centered-page-wrapper p {
    font-size: 1.1rem;
  }
  .description-part {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .description-part p {
    margin: 0 0 1.35rem 0;
  }
  .icon-wrapper {
    margin-bottom: 1.35rem;
  }
  .section-heading {
    margin-bottom: 1.35rem;
    font-size: 1.1rem;
  }
  .subscribe {
    height: 470px;
  }
  .subscribe .logo-wrapper {
    margin-bottom: 1.5rem;
  }
  .subscribe-heading {
    margin-bottom: 1.5rem;
  }
  .center-page-info-block {
    padding: 100px 0;
  }
  .discover-btn {
    width: 20%;
  }
  .subscribe-form {
    min-width: 33.33%;
  }
  .email-form,
  .email-submit {
    height: 4rem;
  }
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .address,
  .socials,
  .credits {
    align-items: center;
    justify-content: center;
  }
}
/*================BASIC STYLES===============*/
html {
  font-size: 16px;
  font-family: Lato-Regular, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
ul,
ol {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  min-height: 1px;
}
button,
input[type="button"],
input[type="submit"] {
  border-style: none;
  border-color: transparent;
}
/*================end of BASIC STYLES================*/
/*HEADER*/
.page-header {
  display: flex;
  position: relative;
  min-width: 100%;
  width: 100%;
}
.header-background {
  width: inherit;
}
.header-background img {
  width: 100%;
}
.page-nav {
  min-width: 50%;
  position: absolute;
  left: 25%;
}
.page-menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.page-nav.open {
  display: flex;
}
.page-nav.open .page-menu {
  align-items: center;
}
.page-menu-item {
  text-transform: uppercase;
  -webkit-transition: all 1.5s linear;
  -moz-transition: all 1.5s linear;
  -ms-transition: all 1.5s linear;
  -o-transition: all 1.5s linear;
  transition: all 1.5s linear;
  font-family: Lato-Bold;
  font-size: 1rem;
}
.page-menu-item a {
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  color: #4d4959;
}
.menu-xs {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  flex-direction: column;
  cursor: pointer;
}
.menu-xs span {
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin: 2px;
}
/*Info block NEW GENERATION BIKE*/
.centered-page-wrapper {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}
.centered-page-wrapper p {
  font-family: Lato-Regular;
  color: #848789;
}
.center-page-info-block {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.center-page-info-block h2 {
  align-self: center;
}
.center-page-info-block p {
  display: inline-block;
  max-width: 70%;
  align-self: center;
  text-align: center;
}
.icon-wrapper {
  align-self: center;
}
/* SECTION BICYCLE-COMPANY*/
.page-section {
  display: flex;
}
.section-large-block {
  min-width: 66.66%;
  position: relative;
}
.big-image img {
  width: 100%;
}
.bicycle-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bicycle-logo img {
  max-width: 100%;
}
.section-small-block {
  min-width: 33.33%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.description-part {
  min-height: 70%;
  text-align: center;
  overflow: hidden;
}
.description-part p {
  text-align: justify;
  color: #848789;
}
.section-heading {
  text-transform: uppercase;
  font-family: Lato-Bold;
  color: #353738;
}
.small-image {
  position: relative;
  min-height: 30%;
}
.small-image img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.separator {
  text-align: center;
}
/*RETRO BIKE SECTION*/
.section-middle-block {
  min-width: 33.33%;
  position: relative;
}
.middle-image img {
  width: 100%;
}
/*TEXT SECTION*/
.normal-text {
  text-transform: none;
}
.small-letters {
  font-weight: lighter;
  color: #848789;
  text-transform: lowercase;
  font-size: 90%;
}
.italic {
  font-family: Lato-Italic;
  color: #848789;
  font-style: italic;
}
/*SHOP NOW SECTION*/
.shop-now {
  display: flex;
  flex-direction: row;
}
.subsection-vertical,
.subsection-horizontal {
  min-height: 50%;
  min-width: 100%;
  position: relative;
}
.subsection-vertical img,
.subsection-horizontal img {
  width: 100%;
  height: 100%;
}
.subsection-vertical {
  display: flex;
  flex-direction: row;
  position: relative;
}
.subsection-vertical-small {
  min-width: 50%;
  position: relative;
}
.subsection-vertical-small img {
  width: 100%;
  height: 100%;
}
.subsection-vertical-large {
  min-width: 50%;
  position: relative;
}
.subsection-vertical-large img {
  width: 100%;
  height: 100%;
}
.section-middle-vertical {
  display: flex;
  position: relative;
}
.discover-shop {
  height: 12.5rem;
  background-color: #353738;
  display: flex;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.discover-btn {
  background-color: transparent;
  border: 1px solid #eee;
  color: #fff;
  display: inline-block;
  height: 25%;
  text-transform: uppercase;
  -webkit-transition: all 1.5s linear;
  -moz-transition: all 1.5s linear;
  -ms-transition: all 1.5s linear;
  -o-transition: all 1.5s linear;
  transition: all 1.5s linear;
}
.discover-btn:hover,
.discover-btn:focus,
.discover-btn:active {
  color: #353738;
  background-color: #fff;
}
.animated-layer {
  width: 100%;
  height: 100%;
  background-color: #5ba58c;
  opacity: 0;
  position: absolute;
  left: 0;
  top: -100%;
  transition: opacity 1.5s linear, transform 1.5s linear;
  visibility: hidden;
}
.animated-layer .icon-wrapper {
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.subsection-vertical-small:hover .animated-layer,
.subsection-vertical-small:focus .animated-layer,
.subsection-vertical-small:active .animated-layer {
  display: flex;
  visibility: visible;
  opacity: 0.8;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.subsection-horizontal:hover .animated-layer,
.subsection-horizontal:focus .animated-layer,
.subsection-horizontal:active .animated-layer {
  display: flex;
  visibility: visible;
  opacity: 0.8;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.subsection-vertical-large:hover .animated-layer,
.subsection-vertical-large:focus .animated-layer,
.subsection-vertical-large:active .animated-layer {
  display: flex;
  visibility: visible;
  opacity: 0.8;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
/*SuBSCRIBE*/
.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subscribe-heading {
  font-family: Lato-Italic;
  font-style: italic;
  color: #848789;
}
.email-submit {
  background-color: #64c29e;
  width: 20%;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 1.5s linear;
  -moz-transition: all 1.5s linear;
  -ms-transition: all 1.5s linear;
  -o-transition: all 1.5s linear;
  transition: all 1.5s linear;
}
.email-submit:hover,
.email-submit:focus,
.email-submit:active {
  color: #353738;
  background-color: #fff;
}
.email-form {
  width: 77%;
  padding-left: 5%;
  font-style: italic;
  color: #848789;
}
.email-form::placeholder {
  color: #848789;
}
/*FOOTEr*/
.footer {
  background-color: #f7f7f7;
  display: flex;
  height: 30%;
  min-height: 20%;
}
.address,
.socials,
.credits {
  min-width: 33.33%;
  display: flex;
}
.city {
  color: #848789;
  font-weight: bolder;
}
.social-icon-wrapper {
  margin-left: 1.5%;
}
