@font-face
   font-family Lato-Bold
   font-style bold
   src url(../fonts/Lato-Bold.ttf)
   
@font-face
   font-family Lato-Italic
   font-style italic
   src url(../fonts/Lato-Italic.ttf)

@font-face
   font-family Lato-Regular
   font-style normal
   src url(../fonts/Lato-Regular.ttf)


